@import "../../styles/myStyles";

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        font-size: 1.2em;
        font-weight: 600;

        outline: none;
        border: none;

        background-color: $base-color;
        color: $third-color;

        padding: 1em 2em;
        margin-bottom: 1em;
        border-radius: .6em;
        -webkit-box-shadow: -5px 7px 18px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -5px 7px 18px 0px rgba(0, 0, 0, 0.75);
        box-shadow: -5px 7px 18px 0px rgba(0, 0, 0, 0.75);

    }

    #message {
        padding: 6em 2em;
        padding-top: 1em;
    }


    button {
        font-size: 1.2em;
        font-weight: 600;

        outline: none;
        border: none;

        position: relative;
        left: 8em;

        background-color: $third-color;
        color: $second-color;

        padding: .5em 2em;
        margin-bottom: 1em;
        border-radius: .6em;
        -webkit-box-shadow: 9px 7px 18px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 9px 7px 18px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 9px 7px 18px 0px rgba(0, 0, 0, 0.75);
    }

    button:hover {
        background-color: $base-color;
        opacity: 70%;
    }

    button:active {
        transform: scale(0.99);
    }

    input:focus {
        color: $fourth-color;
        font-size: 1.21em;
    }

}