<div class="footer">
    <h4>Anassifi © 2020</h4>
    <div class="footer__desc">
        <a href="https://www.facebook.com/HakiimeLklash11" target="_blank"><img
                src="../../assets/IconsPortfolio/social media/facebook.png" alt="fb"></a>
        <a href="https://github.com/Anassifi" target="_blank"><img
                src="../../assets/IconsPortfolio/social media/github.png" alt="gh"></a>
        <a href="https://www.linkedin.com/in/abdelhakim-nassifi-9661a8199/?originalSubdomain=ma" target="_blank"
            rel="noopener noreferrer"><img src="../../assets/IconsPortfolio/social media/linkedin.png" alt="li"></a>
        <a href="https://twitter.com/abdelhakimnass2" target="_blank" rel="noopener noreferrer"><img
                src="../../assets/IconsPortfolio/social media/twitter.png" alt="tw"></a>
    </div>
    <a class="goTop" href="#top">Top</a>
</div>