@function get-color($theme, $color-name, $color-variant) {
    @return map-get(map-get($theme, $color-name), $color-variant);
}

$dark: (base: (bg: rgb(30, 30, 30),
        bgFocusColor: darken(rgb(30, 30, 30), 5%),
        fg: rgb(180, 180, 180),
        fg-dark: rgb(160, 160, 160),
        primary: rgb(80, 46, 110),
        secondary: orangered,
        inactive: rgb(60, 60, 60),
        panel: rgb(15, 15, 15),
        panel-light: rgb(60, 60, 60),
        dialogue-window: rgb(92, 36, 110)),

    common: (success: green,
        confirm: cornflowerblue,
        warning: orange,
        error: red));

$light: (base: (bg: rgb(255, 255, 255),
        bgFocusColor: darken(rgb(255, 255, 255), 5%),
        fg: rgb(240, 240, 240),
        fg-dark: rgb(180, 180, 180),
        primary: rgb(92, 36, 110),
        secondary: orangered,
        inactive: rgb(60, 60, 60),
        panel: rgb(15, 15, 15),
        panel-light: rgb(60, 60, 60),
        dialogue-window: rgb(92, 36, 110)),

    common: (success: green,
        confirm: cornflowerblue,
        warning: orange,
        error: red));