<div class="about">
    <div class="myself">
        <img src="#" alt="picture">
    </div>
    <div class="presentation">
        <div class="isMe">
            <h1>{{ title }}</h1>
            <p>First year <span>web dev student</span> @YouCode.
                From <span>Marrakech</span>, based in Youssoufia.
                I’m passionate about <span>technology</span>, and
                <span>code</span>.</p>
        </div>
        <div class="iSpeak">
            <div class="languages">
                <h2>{{lang}}</h2>
                <img src="../../assets//IconsPortfolio/techs/html-5.png">
                <img src="../../assets//IconsPortfolio/techs/css.png">
                <img src="../../assets//IconsPortfolio/techs/sasspng.png">
                <img src="../../assets//IconsPortfolio/techs/js.png">
                <img src="../../assets//IconsPortfolio/techs/php.png">
            </div>
            <div class="frameworks">
                <h2>{{fram}}</h2>
                <img src="../../assets/IconsPortfolio/techs/vuelogo.png">
                <img src="../../assets/IconsPortfolio/techs/react.png">
                <img src="../../assets/IconsPortfolio/techs/express.png">
            </div>
            <div class="tools">
                <h2>{{tools}}</h2>
                <img src="../../assets/IconsPortfolio/techs/mongodb.png">
                <img src="../../assets/IconsPortfolio/techs/node.png">
            </div>
        </div>
    </div>

</div>